/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
package-lock.json
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock

# Docker Files & Dependencies
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
/.docker
/.env.docker
/.env.docker.local
/docker-entrypoint.sh
/docker-compose.yml

# IDE Specific Files
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Laravel specific
/public/mix-manifest.json
/public/css/
/public/js/
/public/fonts/
/public/images/